li {
  flex-direction: row;
  align-items: center;
}
p{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-nav {
    flex-direction: row;
    align-items: center;
  }
.navbar-nav .active a{
  color: green;
}
.navbar-custom {
    background-color : Plum;
  }
a{
  color:Black
}
a:hover {
  color: indigo;
}

 body {
	 background: indigo;
}
 h1 {
	 color: #fff;
	 font-size: 60px;
   text-align: center;
   margin: 5%;
}
h2, h3, h4 {
  color: #fff;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:5%;
  margin-bottom:5%;
  align-items: center;
}


  