.navbar-nav {
    flex-direction: row;
    
  }
.navbar-nav .active a{
  color: green;
}
.navbar-custom {
    background-color : Plum;
   
  }
a{
  color:Black
}
a:hover {
  color: indigo;
}

 body {
	 background: indigo;
}
 h1 {
	 color: #fff;
	 font-size: 60px;
   text-align: center;
   margin: 5%;
}
h2, h3 {
  color: #fff;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:2%;
  margin-bottom:2%;
}


  